@model Proyecto_TruequesUCR.Models.Perfil

@{
    ViewBag.Title = "Edit";
}

@Styles.Render("~/Content/Comerciante/Perfil.css")
    <div class="containerNavBarGeneral">
        <ul class="navBarGeneral">
            <li class="navBarGeneralLink"><a href="/Home/Index">Inicio</a></li>
            <li class="navBarGeneralLink"><a href="/Home/About">Acerca de</a></li>
            <li class="navBarGeneralLink"><a href="/Home/Contact">Contacto</a></li>
            @if (Request.IsAuthenticated)
            {
                <li class="navBarGeneralLink"><a href="/Items/Index">Mis Items</a></li>
                <li class="navBarGeneralLink"><a href="/Ofertas/IndexOfertas">Mis ofertas</a></li>
                <li class="navBarGeneralLink">
                    <a>Mis trueques</a>
                    <ul>
                        <li><a href="/Trueques/IndexTruequesActivos">Trueques activos</a></li>
                        <li><a href="/Trueques/IndexTruequesExpirados">Trueques expirados</a></li>
                        <li><a href="/Trueques/IndexTruequesEliminados">Trueques eliminados</a></li>
                    </ul>
                </li>
                <li class="navBarGeneralLink">
                    <a style=" color:black">Recomendaciones</a>
                    <ul>
                        <li><a href="/Recomendaciones/RecomendacionesPorGustos">Mis gustos</a></li>
                        <!--<li><a href="">Mi historial de búsqueda</a></li>-->
                    </ul>
                </li>
                <li class="navBarGeneralLink"><a href="/Denuncia/Index">Reportar usuario</a></li>
            }
        </ul>
    </div>

<div class="container-fluid h-100 w-100 d-inline-block mb-5">
    <div class="row justify-content-center w-100">
        <!-- Contenedor principal -->
        <div class="col-md-7 mt-5 fondo-blanco h-100">
            <div class="row">
                <!-- Barra izquierda -->
                <div class="col-md-3 fondo-azul p-0">
                    <ul class="nav flex-column nav-perfil">
                        <li class="nav-item">
                            <a href="#" class="nav-link pt-4 pb-4">Artículos Publicados</a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("Details", "Perfil",new {user=User.Identity.Name})" class="nav-link pt-4 pb-4">Información Personal</a>
                        </li>
                        <li class="nav-item ">
                            <a href="@Url.Action("Edit", "Perfil")" class="nav-link pt-4 pb-4">Editar Perfil</a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("ListaDeAmigos", "Perfil")" class="nav-link pt-4 pb-4">Mis Amigos</a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("ChangePassword", "Perfil")" class="nav-link pt-4 pb-4">Cambiar Contraseña</a>
                        </li>
                        <li class="nav-item activo ">
                            <a href="#" class="nav-link pt-4 pb-4">Buscar Usuario</a>
                        </li>
                        <li class="nav-item ">
                            <a href="@Url.Action("Index", "SolicitudAmistad", new { correoB = User.Identity.Name })" class="nav-link pt-4 pb-4">Solicitudes de Amistad</a>
                        </li>
                    </ul>
                </div>

                <!-- Cuerpo del Perfil -->
                <div class="col-md-9">
                    <!-- Header -->
                    <div class="row">
                        <div class="col-md-12 fondo-azul text-center">
                            <img src=" @Url.Content(ViewBag.foto)" id="foto-perfil-editar" alt="Nombre..." class="foto-perfil">
                        </div>
                    </div>

                    <!-- Contenido -->
          
                        <div class="row">
                            <div class="col-md-12 mt-2">
                                <div>
                                    <table class="table-responsive-md table-borderless w-100 mt-5">
                                        <tbody>
                                            <form method="get" type="text" action="@Url.Action("Buscar", "Perfil")">
                                                <!-- Barra de busqueda usuario-->
                                                <tr class="d-flex">
                                                    <th class="col-md-3 text-right">Buscar usuario </th>
                                                    <td class="col-md-9">

                                                        @Html.TextBox("busqueda", null,new {@class="form-control"})
                                                        

                                                    </td>
                                                </tr>
                                                <!-- Boton de Buscar más usuario -->
                                                <tr class="d-flex pt-1 mr-3 mb-3">
                                                    <th class="col-md-3 text-right"></th>
                                                    <td class="col-sm-4">

                                                        <input type="submit" class="btn btn-verde w-100" value="Buscar" />
                                                    </td>
                                                </tr>
                                            </form>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="mb-5">
                                    <h5 class="titulo-sec">Resultados de la Búsqueda:</h5>
                                    <ul class="list-group mt-4 item-scroll click">
                                        @if (@ViewBag.Correos.Length > 0)
                                        {
                                            for (var i = 0; i < @ViewBag.Correos.Length; ++i)
                                            {
                                                <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                                                    <a href="@Url.Action("Details", "Perfil",new {user=User.Identity.Name, user2= @ViewBag.Correos[i]})">@ViewBag.Correos[i]</a>
                                                    <a href="@Url.Action("Details", "Perfil",new {user=User.Identity.Name, user2= @ViewBag.Correos[i]})">@ViewBag.Nombres[i]</a>
                                                    <a href="@Url.Action("Details", "Perfil",new {user=User.Identity.Name, user2= @ViewBag.Correos[i]})">@ViewBag.Apellidos[i]</a>
                                                    <span><img class="logo-vista-reportes" src="~/Content/Images/User.png"></span>
                                                </li>
                                            }
                                        }
                                        else
                                        {
                                            <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                                                <a>No Hay Resultados</a>
                                                <span><img class="logo-vista-reportes" src="~/Content/Images/User.png"></span>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    
                </div>
        </div>
    </div>
</div>


