@model IEnumerable<Proyecto_TruequesUCR.Models.Item>

@{
    ViewBag.Title = "EditarOfertaDirectoCircular";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Trueques &#64 UCR</title>
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/bootstrap.css">
    <link rel="stylesheet" href="~/Content/General.css">
    <link rel="stylesheet" type="text/css" href="~/Content/About.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body data-spy="scroll" data-target=".fixed-top" data-offset="60">

    <nav aria-label="breadcrumb" id="breadcrumb-1">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="~/Home/Index">
                    <img src="~/Content/Images/home.png" width="25" height="25" />
                </a>
            </li>
            <li class="breadcrumb-item">Editar oferta</</li>
        </ol>
    </nav>

    <div class="container text-center" id="titleEditarOferta" style="padding-top: 30px; padding-bottom: 20px">
        <h2>
            <strong>Editar oferta</strong>
        </h2>
    </div>

    <div class="container text-center" id="select">

        <div class="col-lg">
            <h3 style="padding-bottom: 20px">
                <strong>Seleccione los ítems para su oferta:</strong>
            </h3>
            <div class="wrapper" id="items_to_select" style="width: 1100px; overflow-y: auto; height:250px; margin: 0 auto">
                <form name="combo_button">
                    @foreach (var item in Model)
                    {
                        if (item.IdTrueque == null && (item.IdOferta == ViewBag.IdOFerta || item.IdOferta == null) && item.Email_Comerciante == User.Identity.Name && item.Eliminado == false)
                        {
                            <div class="inputGroup" id=item.ID style="padding-bottom: 2px; padding-right: 20px">

                                @if (item.IdOferta == ViewBag.IdOFerta)
                                {
                                    <input id="@("check" + item.Id_Item)" name="opcion" type="checkbox" value="@(item.Id_Item)" checked />
                                }
                                else
                                {
                                    <input id="@("check" + item.Id_Item)" name="opcion" type="checkbox" value="@(item.Id_Item)" />
                                }

                                <label for="@("check" + item.Id_Item)">
                                    @{
                                        byte[] foto = null;

                                        if (item.Fotos != null)
                                        {
                                            foreach (var i in item.Fotos)
                                            {
                                                if (i.Foto != null)
                                                {
                                                    foto = i.Foto;
                                                    break;
                                                }
                                            }
                                        }

                                        if (foto != null)
                                        {
                                            String img64 = Convert.ToBase64String(foto);
                                            String img64Url = string.Format("data:image/" + "jepg" + ";base64,{0}", img64);
                                            <img src="@img64Url" width="35" height="35" class="align-self-center" />
                                        }
                                        else
                                        {
                                            <img src="~/Content/Images/fotoPredeterminada.png" width="35" height="35" class="align-self-center" />
                                        }
                                    }
                                    [@Html.DisplayFor(modelItem => item.Nombre_Categoria_Item)] @Html.DisplayFor(modelItem => item.Titulo)
                                </label>
                            </div>
                        }

                    }

                    @foreach (var item in Model)
                    {
                        if (item.IdOferta != ViewBag.IdOferta && (item.IdTrueque != null || item.IdOferta != null) && item.Email_Comerciante == User.Identity.Name)
                        {
                            <div class="inputGroup" id=item.ID style="padding-bottom: 2px; padding-right: 20px">
                                <input id="@("check" + item.Id_Item)" name="opcion" type="checkbox" value="@(item.Id_Item)" disabled />
                                <label for="@("check" + item.Id_Item)">
                                    @{
                                        byte[] foto = null;

                                        if (item.Fotos != null)
                                        {
                                            foreach (var i in item.Fotos)
                                            {
                                                if (i.Foto != null)
                                                {
                                                    foto = i.Foto;
                                                    break;
                                                }
                                            }
                                        }

                                        if (foto != null)
                                        {
                                            String img64 = Convert.ToBase64String(foto);
                                            String img64Url = string.Format("data:image/" + "jepg" + ";base64,{0}", img64);
                                            <img src="@img64Url" width="35" height="35" class="align-self-center" />
                                        }
                                        else
                                        {
                                            <img src="~/Content/Images/fotoPredeterminada.png" width="35" height="35" class="align-self-center" />
                                        }

                                        if (item.IdTrueque != null)
                                        {
                                            @:[@Html.DisplayFor(modelItem => item.Nombre_Categoria_Item)] @Html.DisplayFor(modelItem => item.Titulo) (en trueque)
                                        }
                                        else
                                        {
                                            @:[@Html.DisplayFor(modelItem => item.Nombre_Categoria_Item)] @Html.DisplayFor(modelItem => item.Titulo) (en oferta)
                                        }

                                    }

                                </label>
                            </div>
                        }

                    }
                </form>
            </div>
        </div>

        <form name="datos">
            <div class="row" style="padding-top: 60px">
                <h3 style="padding-bottom: 5px">
                    <strong>Descripción de la oferta:</strong>
                </h3>
            </div>

            <div class="row" style="padding-top: 5px">
                <textarea name="descripcion" rows="3" cols="165" title="Solo numeros y letras" style="resize:none">@(ViewBag.Descripcion)</textarea>
            </div>
        </form>

        <input type="hidden" id="tipoOferta" value="Edit">

        <div class="row" style="padding-top: 20px">
            <div class="col-sm">
                <div class="button" style="position:center">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#confirmEditOferta">Guardar</button>
                    @Html.ActionLink("Atrás", "DetalleTrueque", "Trueques", new { id = ViewBag.IdOferta }, new { @class = "btn btn-secondary" })
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="confirmEditOferta" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ¿Está seguro que desea editar la oferta? Si hace esto, se notificará al truequeador.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-toggle="modal" onclick=DireccionarOfertas(@ViewBag.IdOferta)>Guardar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="editOfertaSuccess" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><strong>¡Su oferta ha sido editada!</strong></h5>
                </div>
                <div class="modal-body">
                    <p>
                        Cambios guardados con éxito
                    </p>
                </div>
                <div class="modal-footer">
                    @Html.ActionLink("Aceptar", "DetalleTrueque", "Trueques", new { id = ViewBag.IdTrueque }, new { @class = "btn btn-primary" })
                </div>
            </div>
        </div>
    </div>

    <script src="~/Scripts/Ofertas.js"></script>
</body>
</html>