@model Proyecto_TruequesUCR.Models.Trueques

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Trueques</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaFinal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaFinal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Circular.IdTrueque)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Circular.IdTrueque)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Directo.IdTrueque)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Directo.IdTrueque)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subasta.IdTrueque)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subasta.IdTrueque)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdTrueque }) |
    @Html.ActionLink("Back to List", "Index")
</p>
