@model IEnumerable<Proyecto_TruequesUCR.Models.Item>

@{
    ViewBag.Title = "EditarTrueque";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Trueques &#64 UCR</title>
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/bootstrap.css">
    <link rel="stylesheet" href="~/Content/General.css">
    <link rel="stylesheet" type="text/css" href="~/Content/About.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body data-spy="scroll" data-target=".fixed-top" data-offset="60">

    <nav aria-label="breadcrumb" id="breadcrumb-1">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="~/Home/Index">
                    <img src="~/Content/Images/home.png" width="25" height="25" />
                </a>
            </li>
            <li class="breadcrumb-item">Editar trueque</</li>
        </ol>
    </nav>

    <div class="container text-center" id="select">
        @{
            bool bandera = true;
            string tipo_trueque = "";
            decimal monto_trueque = 0;
            string descripcion_trueque = "";
            DateTime fechaInicio_trueque = default(DateTime);
            DateTime fechaFinal_trueque = default(DateTime);

                <div class="row" style="padding-top: 20px">

                    <div class="col-md-4">
                        <h3 style="padding-bottom: 20px">
                            <strong>
                                Seleccione los ítems para su trueque:
                            </strong>
                        </h3>
                        <div class="wrapper" id="items_to_select" style="overflow-y: scroll; height:250px; width: 350px; margin: 0 auto">
                            <form name="combo_button">
                                @foreach (var item in Model)
                                {
                                    if (item.Email_Comerciante == User.Identity.Name && item.Eliminado == false)
                                    {
                                        if (item.Trueques != null)
                                        {
                                            if (ViewBag.IdDelTrueque == item.Trueques.IdTrueque)
                                            {
                                                if (bandera)
                                                {
                                                    tipo_trueque = item.Trueques.Tipo;

                                                    if (tipo_trueque == "Subasta")
                                                    {
                                                        monto_trueque = (decimal)item.Trueques.Subasta.Monto;
                                                        monto_trueque = decimal.Parse(monto_trueque.ToString("F"));
                                                    }

                                                    descripcion_trueque = item.Trueques.Descripcion;
                                                    fechaInicio_trueque = (DateTime)item.Trueques.FechaInicio;
                                                    fechaFinal_trueque = (DateTime)item.Trueques.FechaFinal;

                                                    bandera = false;
                                                }

                                                <div class="inputGroup" id=item.ID style="padding-bottom: 2px; padding-right: 20px">
                                                    <input id="@("check" + item.Id_Item)" name="opcion" type="checkbox" value="@(item.Id_Item)" checked />

                                                    <label for="@("check" + item.Id_Item)" title= "[@item.Nombre_Categoria_Item] @item.Titulo">
                                                        @{
                                                            byte[] foto = null;

                                                            if (item.Fotos != null)
                                                            {
                                                                foreach (var i in item.Fotos)
                                                                {
                                                                    if (i.Foto != null)
                                                                    {
                                                                        foto = i.Foto;
                                                                        break;
                                                                    }
                                                                }
                                                            }

                                                            if (foto != null)
                                                            {
                                                                String img64 = Convert.ToBase64String(foto);
                                                                String img64Url = string.Format("data:image/" + "jepg" + ";base64,{0}", img64);
                                                                <img src="@img64Url" width="35" height="35" class="align-self-center" />
                                                            }
                                                            else
                                                            {
                                                                <img src="~/Content/Images/fotoPredeterminada.png" width="35" height="35" class="align-self-center" />
                                                            }
                                                        }

                                                        @{

                                                            var categoria = item.Nombre_Categoria_Item;
                                                            var titulo = item.Titulo;
                                                            string text = "[" + categoria + "] " + titulo;
                                                            var lenght = text.Length;

                                                            if (lenght > 27)
                                                            {
                                                                text = text.Substring(0, 25);
                                                                lenght = text.Length;

                                                                if (text[lenght - 1] == ' ' || text[lenght - 1] == '.')
                                                                {
                                                                    text = text.Substring(0, lenght - 2) + "...";
                                                                }
                                                                else
                                                                {
                                                                    text += "...";
                                                                }
                                                            }

                                                        }

                                                        @text
                                                    </label>
                                                </div>
                                            }
                                        }
                                        else
                                        {
                                            <div class="inputGroup" id=item.ID style="padding-bottom: 2px; padding-right: 20px">
                                                <input id="@("check" + item.Id_Item)" name="opcion" type="checkbox" value="@(item.Id_Item)" />

                                                <label for="@("check" + item.Id_Item)" title= "[@item.Nombre_Categoria_Item] @item.Titulo">
                                                    @{
                                                        byte[] foto = null;

                                                        if (item.Fotos != null)
                                                        {
                                                            foreach (var i in item.Fotos)
                                                            {
                                                                if (i.Foto != null)
                                                                {
                                                                    foto = i.Foto;
                                                                    break;
                                                                }
                                                            }
                                                        }

                                                        if (foto != null)
                                                        {
                                                            String img64 = Convert.ToBase64String(foto);
                                                            String img64Url = string.Format("data:image/" + "jepg" + ";base64,{0}", img64);
                                                            <img src="@img64Url" width="35" height="35" class="align-self-center" />
                                                        }
                                                        else
                                                        {
                                                            <img src="~/Content/Images/fotoPredeterminada.png" width="35" height="35" class="align-self-center" />
                                                        }
                                                    }

                                                    @{

                                                        var categoria = item.Nombre_Categoria_Item;
                                                        var titulo = item.Titulo;
                                                        string text = "[" + categoria + "] " + titulo;
                                                        var lenght = text.Length;

                                                        if (lenght > 27)
                                                        {
                                                            text = text.Substring(0, 25);
                                                            lenght = text.Length;

                                                            if (text[lenght - 1] == ' ' || text[lenght - 1] == '.')
                                                            {
                                                                text = text.Substring(0, lenght - 2) + "...";
                                                            }
                                                            else
                                                            {
                                                                text += "...";
                                                            }
                                                        }

                                                    }

                                                    @text
                                                </label>
                                            </div>
                                        }
                                    }
                                }
                                @foreach (var item in Model)
                                {
                                    if (item.IdTrueque != ViewBag.IdDelTrueque && item.IdTrueque != null && item.Email_Comerciante == User.Identity.Name)
                                    {
                                        <div class="inputGroup" id=item.ID style="padding-bottom: 2px; padding-right: 20px">
                                            <input id="@("check" + item.Id_Item)" name="opcion" type="checkbox" value="@(item.Id_Item)" disabled />
                                            <label for="@("check" + item.Id_Item)" title= "[@item.Nombre_Categoria_Item] @item.Titulo @(item.IdTrueque != null ? "(en trueque)" : "(en oferta)")">
                                                @{
                                                    byte[] foto = null;

                                                    if (item.Fotos != null)
                                                    {
                                                        foreach (var i in item.Fotos)
                                                        {
                                                            if (i.Foto != null)
                                                            {
                                                                foto = i.Foto;
                                                                break;
                                                            }
                                                        }
                                                    }

                                                    if (foto != null)
                                                    {
                                                        String img64 = Convert.ToBase64String(foto);
                                                        String img64Url = string.Format("data:image/" + "jepg" + ";base64,{0}", img64);
                                                        <img src="@img64Url" width="35" height="35" class="align-self-center" />
                                                    }
                                                    else
                                                    {
                                                        <img src="~/Content/Images/fotoPredeterminada.png" width="35" height="35" class="align-self-center" />
                                                    }
                                                }
                                                [@Html.DisplayFor(modelItem => item.Nombre_Categoria_Item)] @Html.DisplayFor(modelItem => item.Titulo) (en trueque).
                                            </label>
                                        </div>
                                    }

                                }
                            </form>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <h3 style="padding-bottom: 20px">
                            <strong>Seleccione un tipo de trueque:</strong>
                        </h3>

                        <div class="wrapper" id="tipo_trueque" style="width: 350px; overflow-y: hidden; height:250px; margin: 0 auto">
                            <form name="radio_button">
                                @{
                                    if (tipo_trueque == "Directo")
                                    {
                                        <div class="inputGroup" style="padding-bottom: 2px; padding-right: 20px">
                                            <input id="radio1" name="radio" type="radio" onclick="ocultar()" checked />
                                            <label for="radio1">
                                                <img src="~/Content/Images/Trueque directo.png" width="35" height="35" class="align-self-center" />
                                                Trueque directo
                                            </label>
                                        </div>
                                        <div class="inputGroup" style="padding-bottom: 2px; padding-right: 20px">
                                            <input id="radio2" name="radio" type="radio" onclick="ocultar()" />
                                            <label for="radio2">
                                                <img src="~/Content/Images/Trueque Circular.png" width="35" height="35" class="align-self-center" />
                                                Trueque circular
                                            </label>
                                        </div>
                                        <div class="inputGroup" style="padding-bottom: 2px; padding-right: 20px">
                                            <input id="radio3" name="radio" type="radio" onclick="mostrar()" />
                                            <label for="radio3">
                                                <img src="~/Content/Images/Subasta.png" width="35" height="35" class="align-self-center" />
                                                Subasta
                                            </label>
                                        </div>
                                    }
                                    else if (tipo_trueque == "Circular")
                                    {
                                        <div class="inputGroup" style="padding-bottom: 2px; padding-right: 20px">
                                            <input id="radio1" name="radio" type="radio" onclick="ocultar()" />
                                            <label for="radio1">
                                                <img src="~/Content/Images/Trueque directo.png" width="35" height="35" class="align-self-center" />
                                                Trueque directo
                                            </label>
                                        </div>
                                        <div class="inputGroup" style="padding-bottom: 2px; padding-right: 20px">
                                            <input id="radio2" name="radio" type="radio" onclick="ocultar()" checked />
                                            <label for="radio2">
                                                <img src="~/Content/Images/Trueque Circular.png" width="35" height="35" class="align-self-center" />
                                                Trueque circular
                                            </label>
                                        </div>
                                        <div class="inputGroup" style="padding-bottom: 2px; padding-right: 20px">
                                            <input id="radio3" name="radio" type="radio" onclick="mostrar()" />
                                            <label for="radio3">
                                                <img src="~/Content/Images/Subasta.png" width="35" height="35" class="align-self-center" />
                                                Subasta
                                            </label>
                                        </div>
                                    }
                                    else if (tipo_trueque == "Subasta")
                                    {
                                        <div class="inputGroup" style="padding-bottom: 2px; padding-right: 20px">
                                            <input id="radio1" name="radio" type="radio" onclick="ocultar()" />
                                            <label for="radio1">
                                                <img src="~/Content/Images/Trueque directo.png" width="35" height="35" class="align-self-center" />
                                                Trueque directo
                                            </label>
                                        </div>
                                        <div class="inputGroup" style="padding-bottom: 2px; padding-right: 20px">
                                            <input id="radio2" name="radio" type="radio" onclick="ocultar()" />
                                            <label for="radio2">
                                                <img src="~/Content/Images/Trueque Circular.png" width="35" height="35" class="align-self-center" />
                                                Trueque circular
                                            </label>
                                        </div>
                                        <div class="inputGroup" style="padding-bottom: 2px; padding-right: 20px">
                                            <input id="radio3Especial" name="radio" type="radio" onclick="mostrar()" checked />
                                            <label for="radio3Especial">
                                                <img src="~/Content/Images/Subasta.png" width="35" height="35" class="align-self-center" />
                                                Subasta
                                            </label>
                                        </div>
                                    }
                                }
                            </form>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <h3 style="padding-bottom: 20px">
                            <strong>Seleccione la privacidad del trueque:</strong>
                        </h3>

                        <div class="wrapper" id="tipo_trueque" style="width: 350px; overflow-y: hidden; height:250px; margin: 0 auto">
                            <form name="radio_button_priv">
                                <div class="inputGroup" style="padding-bottom: 2px; padding-right: 20px">
                                    <input id="radio4" name="radio" type="radio" disabled />
                                    <label for="radio4">
                                        <img src="~/Content/Images/Trueque directo.png" width="35" height="35" class="align-self-center" />
                                        Público
                                    </label>
                                </div>
                                <div class="inputGroup" style="padding-bottom: 2px; padding-right: 20px">
                                    <input id="radio5" name="radio" type="radio" disabled />
                                    <label for="radio5">
                                        <img src="~/Content/Images/Trueque Circular.png" width="35" height="35" class="align-self-center" />
                                        Amigos
                                    </label>
                                </div>
                                <div class="inputGroup" style="padding-bottom: 2px; padding-right: 20px">
                                    <input id="radio6" name="radio" type="radio" disabled />
                                    <label for="radio6">
                                        <img src="~/Content/Images/Subasta.png" width="35" height="35" class="align-self-center" />
                                        Solo yo
                                    </label>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>

            <form name="datos">
                <div class="row" style="padding-top: 10px">
                    <div class="col-md-12">
                        <div class="row" style="padding-top: 10px">

                            <div class="col-md">
                                <h3 style="padding-bottom: 5px">
                                    <strong>Fecha inicial</strong>
                                </h3>
                                <input type="date" value=@fechaInicio_trueque.ToString("yyyy-MM-dd") name="fechaInicial" min=@DateTime.Now.ToString("yyyy-MM-dd") required>
                            </div>

                            <div class="col-md">
                                <h3 style="padding-bottom: 5px">
                                    <strong>Fecha final</strong>
                                </h3>
                                <input type="date" value=@fechaFinal_trueque.ToString("yyyy-MM-dd") name="fechaFinal" min=@DateTime.Now.ToString("yyyy-MM-dd") required>
                            </div>

                            <div class="col-md" id="monto" style="visibility:hidden">
                                <h3 style="padding-bottom: 5px">
                                    <strong>Monto minimo</strong>
                                </h3>
                                <select id="tipoMoneda">
                                    <option value="CRC" selected>CRC</option>
                                    <option value="USD">USD</option>
                                    <option value="EUR">EUR</option>
                                </select>
                                <input type="number" step="any" size="30" name="monto" min="0" value=@monto_trueque required>
                            </div>

                        </div>
                    </div>

                </div>

                <div class="row" style="padding-top: 20px">
                    <h3 style="padding-bottom: 5px">
                        <strong>Descripcion del trueque</strong>
                    </h3>
                </div>
                <div class="row" style="padding-top: 5px">
                    <textarea name="descripcion" rows="3" cols="165" title="Solo numeros y letras" pattern="[A-Za-z0-9]+" style="resize:none">@descripcion_trueque</textarea>
                </div>
            </form>

            <div class="row" style="padding-top: 20px">
                <div class="col-sm">
                    <div class="button">
                        <button type="button" class="btn btn-success" onclick="Editar(@ViewBag.IdDelTrueque)" id="boton_crear_trueque">Guardar cambios</button>
                        @Html.ActionLink("Cancelar", "IndexTruequesActivos", "Trueques", null, new { @class = "btn btn-secondary" })
                    </div>
                </div>
            </div>
        }

        <div class="modal fade" id="editSuccess" tabindex="-1" role="dialog" data-keyboard="false" aria-hidden="true">
            <!-- se agrega el id del trueque como parte del nombre del componente -->
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"><strong>¡Su trueque ha sido editado!</strong></h5>
                    </div>
                    <div class="modal-body">
                        <p>
                            Su trueque acaba de cambiar algunas de sus características.
                            Los ítems que pertenecían a él, antes de la edición, nuevamente están disponibles para ser añadidos a otros trueques.
                        </p>
                    </div>
                    <div class="modal-footer">
                        @Html.ActionLink("Volver a mis trueques", "IndexTruequesActivos", "Trueques", null, new { @class = "btn btn-primary" })
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Scripts/Trueques.js"></script>
</body>
</html>