@model Proyecto_TruequesUCR.Models.Administrador

@{
    ViewBag.Title = "Reactivar Cuenta";
}

@Styles.Render("~/Content/Comerciante/Perfil.css")
@Styles.Render("~/Content/Comerciante/RegistroLogin.css")

<div class="container-fluid h-100 w-100 d-inline-block">
    <div class="row justify-content-center w-100">
        <!-- Contenedor principal -->
        <div class="col-md-7 mt-5 fondo-blanco h-100">
            <div class="row">
                <!-- Barra izquierda -->
                <div class="col-md-3 fondo-azul p-0 ">
                    <ul class="nav flex-column nav-perfil">
                        <li class="nav-item ">
                            <a href="@Url.Action("Details", "Administrador",new {user=User.Identity.Name })" class="nav-link pt-4 pb-4">Perfil Admin</a>
                        </li>
                        <li class="nav-item activo">
                            <a href="@Url.Action("UsuariosAsignados", "Administrador")" class="nav-link pt-4 pb-4">Mis Usuarios Asignados</a>
                        <li class="nav-item">
                            <a href="@Url.Action("AgregarAdmin", "Administrador")" class="nav-link pt-4 pb-4">Agregar Administrador</a>
                        </li>
                    </ul>
                </div>

                <!-- Cuerpo de Acción Principal -->
                <div class="col-md-9">
                    <!-- Header -->
                    <div class="row">
                        <div class="col-md-12 fondo-azul text-center pt-3">
                            <img src="~/Content/Logo/logoApp.png" alt="Logo de la Aplicación Web" class="foto-vista-admin">
                        </div>
                    </div>

                    <!-- Contenido -->
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table-responsive-md table-borderless w-100 mt-5">
                                <tbody>
                                    <!--usuario-->
                                    <tr class="d-flex justify-content-center">
                                        <th class="col-md-3 text-right">Usuario</th>
                                        <td id="user" class="col-md-9 ">@ViewBag.correo</td>
                                    </tr>

                                    <tr class="d-flex pt-5">
                                        <th class="col-md-3 text-right"></th>
                                        <td class="col-sm-4">
                                            @Html.ActionLink("Regresar", "OpcionesConComerciante", "Administrador", new { correo = @ViewBag.correo }, new { @class = "btn btn-secundario-adicional w-100" })
                                        </td>
                                    </tr>

                                    @if(@ViewBag.estado == "0"){
                                    <!-- Confirmación-->
                                    <tr class="d-flex pt-5">
                                        <td class="col-md-9 ml-5">
                                            <div class="alert alert-success">
                                                <strong>Activada!</strong> La cuenta del usuario ha sido activada con éxito.
                                            </div>
                                        </td>
                                    </tr>
                                    }


                                    else{
                                    <!--Error usuario no suspendido-->
                                    <tr class="d-flex pt-5">
                                        <td class="col-md-9 ml-5">
                                            <div class="alert alert-danger" role="alert">
                                                <strong>Advertencia!</strong> @ViewBag.error
                                            </div>
                                        </td>
                                    </tr>
                                    }
                                    

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

